<% provide(:title, 'Home') %>

<div class="mainCont">
  
  <%= image_tag("golf.jpg", alt: "welcome Logo", :class => "welcomIn") %>
  
  <h1>Home</h1>
  <p>Welcome to your first home page</p>
  <hr>
  <p>This will be the home page of the application we will create. We will work on this each week</p>

</div>